@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie</h2>

@if (Model.Customers.Count == 0)
{
    <text>Noooo</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <p>@customer.Name</p>
        }
    </ul>
}




